# Logs
logs
*.log
npm-debug.log*

# Dependencies
node_modules
.pnp
.pnp.js

# Testing
coverage

# Production
build
dist

# Misc
.DS_Store
*.pem

# Debug
.vscode
.idea
*.swp
*.swo
*~

# Environment
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# IDE
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
